DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_NAME=app_db
SECRET_KEY="YOUR-SECRET-KEY"
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=!Qwerty1234
REDIS_URL=redis://redis:6379
MAIL_USERNAME=YOUR-EMAIL
MAIL_PASSWORD=EMAIL PASSWORD(get from server)
MAIL_FROM=YOUR-EMAIL
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME=AITutor
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
UPLOAD_DIR=uploads/profile_icons
PROFILE_ICON_URL_PATH=/profile-icons
FRONTEND_URL=http://localhost:3000